
/*The body, h3, h4, h5 are called elements*/
/*the curly brackets are called selectors*/

body {
		color: lightgrey;
}

h3, h4 {
		color: cornflowerblue;
		font-size: 25pt;
		marging-bottom: 2px;
}
/* The border-bottom is located in the <li>*, not in the header*/

h3 {
	font-size: 40pt;
}

h4 {

}

h5 {
		color: darkgrey;
}

/* List Items */
li{
	text-decoration: none;
	border-bottom: 1px solid lightgray;
}

.js .cbp-ntcontent {
	display: none;
}

#this

.cbp-ntopen > .cbp-ntcontent {
	display: block;
}
