/* ---------- Global Styles */

/* Imports -- Added from google.com/fonts*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
/* Icons -- Arrows added from icomoon*/
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon_arrows/icomoon.eot');
	src:url('fonts/icomoon_arrows/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon_arrows/icomoon.woff') format('woff'),
		url('fonts/icomoon_arrows/icomoon.ttf') format('truetype'),
		url('fonts/icomoon_arrows/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*The body, h3, h4, h5 are called selectors*/
/*the curly brackets contain the properties followed by values*/
/*the original NestedAccordion file utilizes em as massurement units instead of pixels
Found useful unit converter: http://pxtoem.com/*/
body {
		color: #888;
		font-family: 'Lato', sans-serif;
		font-size:
		font-weight: 300;
		line-height: 1.5;
}

h3, h4 {
		color: #47A3DA;
		margin: 20px 0px 20px 0px; /* Add a margin top & bottom to the headers, always clockwise
		starting at the top, right, bottom and left*/
}

h3 {
	font-size: 44px;
	font-weight: 300;
}

h4 {
	font-size: 19px;
	text-transform: uppercase;

}

h5 {
		color: darkgrey;
}

.main{
	margin: 0 auto;
	width: 100%;
	padding: 0px 30px 0px 30px; /* Add a padding left & right for small screens,(responsive?)*/
	max-width: 1104px;
}

/* List Items Styles*/
ul{
	padding: 0;
}
/* The border-bottom is located in the <li>*, not in the header*/
li{
	list-style: none;
	border-bottom: 1px solid lightgray;
}

/*  Accordion Arrow icons  */
/*for the arrows: compared and used reference from the author's css source and copied code
from line 66-75 to experiment and test what her property/value aproach was. Deleted and/or
replaced with similar properties to obtain similar? results*/
.cbp-ntaccordion > li > .cbp-nttrigger:before,
.cbp-ntsubaccordion > li > .cbp-nttrigger:before {
	font-family: 'icomoon';
	font-weight: normal;
	/*font-variant: normal; HERE the property font-variant allows you to change the targeted text to small
	caps (https://css-tricks.com/almanac/properties/f/font-variant/)*/
	text-transform: none;
	line-height: 1;
	color: #ddd;
	margin-right: 8px;
	/*WHAT IS THIS??? -webkit-font-smoothing: antialiased;*/
}

/*the ">" operator serves as a guide for child-parent relationship. ".cbp-nttrigger:before" is contained in the <li>
that is contained in the ".cbp-ntaccordion" */
.cbp-ntaccordion > li > .cbp-nttrigger:before {
	font-size: 75%;
}
/*the "\36" */
.cbp-ntaccordion > li > .cbp-nttrigger:before {
	content: "\36";
}
.cbp-ntaccordion > li > .cbp-nttrigger:hover:before {
	content: "\35";
	color: inherit;
}
.cbp-ntaccordion > li.cbp-ntopen > .cbp-nttrigger:before,
.no-js .cbp-ntaccordion > li > .cbp-nttrigger:before {
	content: "\34";
	color: inherit;
}

.cbp-ntsubaccordion > li > .cbp-nttrigger:before {
	content: "\32";
}
.cbp-ntsubaccordion > li > .cbp-nttrigger:hover:before {
	content: "\33";
	color: inherit;
}
.cbp-ntsubaccordion > li.cbp-ntopen > .cbp-nttrigger:before,
.no-js .cbp-ntsubaccordion > li > .cbp-nttrigger:before {
	content: "\31";
	color: inherit;
}

h3.cbp-nttrigger{
	cursor: pointer;
}

.js .cbp-ntcontent {
	display: none;
}


.cbp-ntopen > .cbp-ntcontent {
	display: block;
}
